<!-- <nav class="navbar navbar-dark transparent justify-content-between" style="background-color: aquamarine;" style="font-size: large;">
  <a class="navbar-brand" style="color: black; font-size: large; text-align: left;" href="/">Gallery</a>
  <form class="form-inline my-1" action="/search"  role="search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Category" name="imagesearch" aria-label="Search">
    <button class="btn btn-outline-dark btn-sm my-0" type="submit" style="color: black;">Search</button>
  </form>
</nav> -->